* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --background: #1A1D23;
  --text-title: #fff;
  --text-body: #D7D7D7;
  --pink-point: #FF57B2;
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

button {
  cursor: pointer;
}


html { 
  @media (max-width: 1080px) {
    font-size: 93.75%
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}
